# Salida de datos
output/*
!output/.keep

# Archivos CSV
*.csv

# Bytecode de Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
env/
.venv/

# Archivos del sistema operativo
.DS_Store
Thumbs.db